<div cdkDropListGroup class="container">
    <div class="content">

        <mat-card>
            <mat-card-title>Assignments non rendus</mat-card-title>
            <mat-card-content>
                <div
                        cdkDropList
                        [cdkDropListDisabled]="dragAndDropSwitch"
                        [cdkDropListData]="assignmentsNonRendus"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                    <cdk-virtual-scroll-viewport #scrollerNonRendu itemSize="50" class="example-viewport">
                        <div class="example-box" *ngFor="let item of assignmentsNonRendus" cdkDrag [cdkDragData]="item">

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{item.nom}}
                                        </mat-panel-title>
                                        <mat-panel-description class="right-aligned">
                                            {{item.dateDeRendu | date}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="container">
                                        <div class="content">
                                            <mat-checkbox [checked]="item.rendu" disabled="true">
                                                Rendu
                                            </mat-checkbox>
                                        </div>
                                        <div class="content">
                                            <button aria-label="View details" color="primary" mat-mini-fab
                                                    routerLink="/assignment/{{item.id}}">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="content">

        <mat-card>
            <mat-card-title>Assignments Rendus</mat-card-title>
            <mat-card-content>
                <div
                        cdkDropList
                        [cdkDropListDisabled]="true"
                        [cdkDropListData]="assignmentsRendus"
                        class="example-list"
                        (cdkDropListDropped)="drop($event)">
                    <cdk-virtual-scroll-viewport #scrollerRendu itemSize="50" class="example-viewport">
                        <div class="example-box" *ngFor="let item of assignmentsRendus" cdkDrag [cdkDragData]="item">

                            <mat-accordion>
                                <mat-expansion-panel hideToggle>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            {{item.nom}}
                                        </mat-panel-title>
                                        <mat-panel-description class="right-aligned">
                                            {{item.dateDeRendu | date}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>
                                    <div class="container">
                                        <div class="content">
                                            <mat-checkbox [checked]="item.rendu" disabled="true">
                                                Rendu
                                            </mat-checkbox>
                                        </div>
                                        <div class="content">
                                            <button aria-label="View details" color="primary" mat-mini-fab
                                                    routerLink="/assignment/{{item.id}}">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>

                        </div>
                    </cdk-virtual-scroll-viewport>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

