.container {
  display: flex;
  flex-direction: row;
}

.content{
  width: auto;
  margin: 12px auto;
}

.ajouterBtn {
  align-self: flex-end;
}

.example-viewport {
  height: 500px;
  width: 600px;
}

::-webkit-scrollbar {
  display: none;
}

.example-item {
  height: 50px;
}

a:link{
  text-decoration: none;
}
