<div class="container">
    <div class="content">
        <mat-card class="login">
            <mat-card-title class="cardTitle">Register</mat-card-title>
            <mat-card-content>

                <mat-vertical-stepper #stepper [linear]="isLinear">
                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Votre nom</ng-template>

                            <div class="mat-action-row">
                                <mat-form-field appearance="fill" class="maxed">
                                    <mat-label>Real Name</mat-label>
                                    <input [(ngModel)]="nom" formControlName="firstCtrl" matInput name="nom"
                                           placeholder="Votre nom"
                                           required>
                                </mat-form-field>
                            </div>

                            <div class="mat-action-row">
                                <mat-form-field appearance="fill" class="maxed">
                                    <mat-label>Username</mat-label>
                                    <input [(ngModel)]="username" formControlName="firstCtrl" matInput
                                           name="utilisateur" placeholder="Votre nom d'utilisateur"
                                           required>
                                </mat-form-field>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" label="Votre mot de passe">
                        <form [formGroup]="secondFormGroup">
                            <div class="mat-action-row">
                                <mat-form-field appearance="fill" class="maxed">
                                    <mat-label>Password</mat-label>
                                    <input [(ngModel)]="password" [type]="hide ? 'password' : 'text'"
                                           formControlName="secondCtrl"
                                           matInput name="password"
                                           placeholder="Votre mot de passe" required>
                                    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                            [attr.aria-pressed]="hide" mat-icon-button
                                            matSuffix type="button">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-button matStepperPrevious>Back</button>
                                <button (click)="onSubmit($event)" (submit)="onSubmit($event)" mat-button>Submit
                                </button>
                            </div>
                        </form>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-card-content>
        </mat-card>
    </div>
</div>
