<div class="container">
    <div class="content">
        <mat-card class="login">

            <mat-card-title class="cardTitle">Register</mat-card-title>
            <mat-card-content>
                <form ngForm #formUser class="form" (submit)=" onSubmit($event); formUser.reset();">
                    <mat-form-field appearance="fill">
                        <mat-label>Real Name</mat-label>
                        <input matInput placeholder="Votre nom" required [(ngModel)]="nom" name="nom">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput placeholder="Votre nom d'utilisateur" required [(ngModel)]="username"
                               name="utilisateur">
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Votre mot de passe" required
                               [(ngModel)]="password" name="password">
                        <button mat-icon-button matSuffix type="button" (click)="hide = !hide"
                                [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>

                    <!--mat-form-field appearance="fill">
                        <mat-label>Confirm your password</mat-label>
                        <input matInput [type]="hide ? 'passwordConfirm' : 'text'">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field-->
                    <button mat-stroked-button color="primary">
                        Register
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
