.form {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.content {
    width: 600px;
    margin: auto;
}

.maxed {
    width: 100%;
}
